@model IEnumerable<AppMvcBasica.Models.Tarefa>

@{
    ViewData["Title"] = "Index";
}

<h1>Tarefas</h1>

<p>
    <a asp-action="Create">Criar Nova Tarefa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Titulo)*@
                Título
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.DataInicio)*@
                Data Inícios
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.DataFim)*@
                Data Fim
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
